<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>
	{% block title %} Home
	{% endblock %}
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	
</head>
<body>

	<div class="nav navbar navbar-default">
		<div class="container">
			 <ul class="nav navbar-nav">
				<li><a href="/admin/">admin</a></li>
				<li><a href="/">Home</a></li>
				<li><a href="{% url 'home:house_gallery' %}">House gallery</a></li>
				<li><a href="{% url 'home:castel_gallery' %}">Castel gallery</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">link</a></li>
				<li><a href="#">link</a></li>
				<li><a href="#">link</a></li>
			</ul>
		</div>
	</div>

	<div class="main container">
		{% block main %}
		Welcome on the home page
		{% endblock %}
	</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>