<!DOCTYPE html>
<html>
<head>
	<title>
	{% block title %} Home
	{% endblock %}
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style type="text/css">
		.container-fluid{
			margin:0 5% 0 5%;
		}
		.house{
			margin: 7px;
		}
	</style>
</head>
<body>

	<div class="nav navbar navbar-default">
		<div class="container">
			 <ul class="nav navbar-nav">
				<li><a href="/admin/">admin</a></li>
				<li><a href="/">Home</a></li>
				<li><a href="#">link</a></li>
				<li><a href="#">link</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">link</a></li>
				<li><a href="#">link</a></li>
				<li><a href="#">link</a></li>
			</ul>
		</div>
	</div>
	<hr>
	<div class="main container-fluid">
		{% block main %}
		Welcome on the home page
		{% endblock %}
	</div>
	<hr>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>