{% extends 'index.html' %}

{% block title %}
House {{house.name}}
{% endblock %}

{% block main %}
<div class="row">
 <div class="house col-md-4">
		<p>Name:<a href="{% url 'home:view_house' house.id %}"> {{house.name}}</a></p>
		<p>Words: {{house.words}}</p>
		<img src="{%if house.img.url%}{{house.img.url}}{%endif%}" widht="240" height="320">
		<p>Descriptiosn: {{house.description}}</p>
</div>
<div class="col-md-4">
	<p>Famous people of this house</p>
	<ul>
	{% for person in persons %}
		<li><a href="{% url 'home:view_profile' person.id %} ">{{person.name}}</a></li>
	{% endfor %}
	</ul>
	<p>Users that decided to join this great house</p>
	<ul>
	{% if users %}
	{% for user in users %}
		<li><a href="{% url 'accounts:view_profile' user.id %}">{{user.username}}</a></li>
	{% endfor %}
	{% else %}
	<p>Have no candidancy yet</p>
	{% endif %}
	</ul>
</div>
<div class="col-md-4">

	<p>Family castel:
	{% if castel.id %}
	<a href="{% url 'home:view_castel' castel.id%}">{{castel.name}}</a></p>
	{% else %}
	Sorry we don`t add info yet
	{% endif %}
	</div>
</div>
{% endblock %}
