{% extends 'index.html' %}

{% block title %}
House {{house.name}}
{% endblock %}

{% block main %}
<div class="house col-md-4">
		<p>Name:<a href="{% url 'home:view_house' house.id %}"> {{house.name}}</a></p>
		<p>Words: {{house.words}}</p>
		<img src="{%if house.img.url%}{{house.img.url}}{%endif%}" widht="240" height="320">
		<p>Brief descriptiosn: {{house.description}}</p>
</div>
<div class="col-md-4">
	<p>Famous people of this house</p>
	<ul>
	{% for person in persons %}
		<li>{{person.name}}</li>
	{% endfor %}
	</ul>
</div>


	
{% endblock %}
