{% extends 'index.html' %}

{% block title %}
your profile
{% endblock %}

{% block main %}
<div class="row" ng-controller="profileCtrl">
	<div class="col-md-1">
	</div>
	<div class="col-md-2">
		Other Users
		<ul>
			{% for item in users %}
				{% if item == user %}
				{% else %}
					<li>
						<a href="{% url 'accounts:view_profile' item.id %}">
							{{item.username}}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-4">
		<p>Username: {{user.username}}</p>
		<p>{{user.get_full_name}}</p>
		<p>Email: {{user.email}}</p>
		<p>Last login:
			{% if user.last_login %}
				{{user.last_login}}
			{% else %}
			Have not login yet
			{% endif %}
		</p>
		{% if user.profile %}
		<img src="{% if profile.img %}{{profile.img.url}}{%endif%}"
		width="320" height="320" alt="avatar here">
			{% if profile.house %}
		<p>House: <a href="{% url 'home:view_house' profile.house.id %}">{{profile.house}}</a></p>
		{% endif %}
		<p>City: {{profile.city}}</p>
		{% endif %}

		<p>Joined: {{user.date_joined}}</p>
	</div>
	<div class="col-md-5">
		{% verbatim %}
		<div class="text-center">
			<h3>Micro blog</h3>
			<form method="post">
				{% endverbatim %}
				{% csrf_token %}
				{% verbatim %}
				<input type="text" ng-model="titleInput" class="form-control" placeholder="Title">
				<input type="hidden" ng-model="postIdInput">
				<br>
				<textarea ng-model="textInput" rows="8" cols="40" class="form-control" placeholder="text"></textarea>
				<br>
				<button type="submit" id="post" class="btn btn-default" ng-click="addPost()">Post!</button>
				<button type="submit" id="update" class="btn btn-default" ng-click="updatePost()">Update</button>
			</form>
		</div>
		<div class="delete-message">
			<p>
				Are you really want remove your post? <br>
				You can`t undo this operation in future
			</p>
			<button type="submit" class="btn btn-danger">Delete</button>
			<button type="submit" class="btn btn-default">Cancel</button>
		</div>
		<div class="post" ng-repeat="post in posts">
			<hr>
			<div class="icons text-right">
				<button type="submit" class="btn btn-default" ng-click="editPost(post.id)">
          <span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button type="submit" class="btn btn-danger" ng-click="removePost(post.id)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>
			<p>
				Title: {{post.title}}
			</p>
			<p>
				Text: {{post.text}}
			</p>
			<p>
				Posted: {{post.created}}
			</p>
		</div>
		<hr>
		{% endverbatim %}
	</div>
</div>
{% endblock %}

{% block script %}
	<script src="/static/js/profile.js"></script>
{% endblock %}
