.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}

.logo img{
	width: 400px;
	height: 300px;
}

.castel img, .logo img{
	border: 2px solid rgba(100, 100, 100, 0.5);
	border-radius: 100%;
}
.castel img{
	width: 450px;
	height: 320px;
}
.castel{
	margin: 10px 5px;
	padding: 7px;
}

.categories-img img{
	width: 350px;
	height: 300px;
}

.product-img img, .category img {
	width: 280px;
	height: 250px;
}
