<!DOCTYPE html>
<html ng-app="gotApp">
<head>
	{% load static %}
	<title>
	{% block title %} Home
	{% endblock %}
	</title>
	<link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">

</head>
<body>
	<div class="container">
		<div class="nav navbar navbar-default col-md-12">
			<ul class="nav navbar-nav">
				{% if user.is_staff %}
				<li><a href="/admin/">admin</a></li>
				{% endif %}
				<li><a href="/">Home</a></li>
				{% if user.is_authenticated %}
				<li><a href="{% url 'accounts:view_profile'%}">View profile</a></li>
				<li><a href="{% url 'accounts:change_profile'%}">Change profile</a></li>
				<li class="dropdown">
         	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallerys <span class="caret"></span></a>
         	<ul class="dropdown-menu">
        			<li><a href="{% url 'home:house_gallery' %}">House gallery</a></li>
				 			<li><a href="{% url 'home:castel_gallery' %}">Castel gallery</a></li>
				 			<li><a href="{% url 'home:people_gallery' %}">People gallery</a></li>
          </ul>
      	</li>
				<li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="caret"></span></a>
        	<ul class="dropdown-menu">
           	<li><a href="{% url 'shop:view_categories' %}">View categories</a></li>
				 	 	<li><a href="{% url 'shop:view_products' %}">View products</a></li>
         	</ul>
      	</li>
				<li><a href="{% url 'cart:cart_detail' %}">Your cart</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'accounts:logout' %}">Logout</a></li>
				</ul>
				{% else %}
				<li class="dropdown">
         	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallerys <span class="caret"></span></a>
         	<ul class="dropdown-menu">
        			<li><a href="{% url 'home:house_gallery' %}">House gallery</a></li>
				 			<li><a href="{% url 'home:castel_gallery' %}">Castel gallery</a></li>
				 			<li><a href="{% url 'home:people_gallery' %}">People gallery</a></li>
          </ul>
      	</li>
				<li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="caret"></span></a>
        	<ul class="dropdown-menu">
           	<li><a href="{% url 'shop:view_categories' %}">View categories</a></li>
				 	 	<li><a href="{% url 'shop:view_products' %}">View products</a></li>
         	</ul>
      	</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'cart:cart_detail' %}">Your cart</a></li>
					<li><a href="{% url 'accounts:register' %}">Register</a></li>
					<li><a href="{% url 'accounts:login' %}">Login</a></li>
				</ul>
				{% endif %}
			</div>

	<div class="main col-md-12">
		{% block main %}
		Welcome on the home page
		{% endblock %}
	</div>
	<br>
	<div class="footer text-center col-md-12">
		<h6>Created by awesome developer!! Taras Bilobran</h6>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/static/node_modules/angular/angular.js"></script>
	<script src="/static/node_modules/angular-resource/angular-resource.js"></script>
	<script src="/static/js/main.js"></script>
	{% block script %}
	{% endblock %}
</body>
</html>
