{% extends 'index.html' %}

{% block title %}
	Our products
{% endblock %}

{% block main %}
	<div class="row">
		<div class="col-md-4">
			<p>Product name: {{product.name}}</p>
			{% if product.reference %}
			<p>Reference to house: {{product.reference}}</p>
			{% endif %}
			<p>Category: {{product.product}}</p>
			<p>Product description: {{product.description}}</p>
			<div class="product"><img src="{% if product.img %}{{product.img.url}}{% endif %}"></div>
		</div>
		
		<p class="price">{{ product.price }} $</p>
		<form action="{% url 'cart:cart_add' product.id %}" method="post">
		    {% csrf_token %}
		    {{ cart_product_form }}
		    <input type="submit" value="Add to cart">
		</form>
	</div>
{% endblock %}